---
import BlackRedSection from "../../components/BlackRedSection.astro";
import MissionStatement from "../../components/MissionStatement.astro";
import Layout from "../../layouts/Layout.astro";
---

<style>
	section {
		.inner-wrapper {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			gap: 2ch;
			@container (width > 960px) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
			}

			.address {
				h2,
				h3 {
					@container (width > 400px) {
						line-height: 1cap;
					}
				}
			}

			.map {
				margin-block-start: 1.5em;
				padding-block-end: 1.5em;
			}

			iframe {
				aspect-ratio: 17 / 14;
			}

			iframe,
			iframe + p {
				width: 100%;
				max-width: 425px;
				display: block;
				margin-inline-start: auto;
			}
		}
	}

	section:last-child {
		.map {
			padding-block-end: revert;
		}
	}
</style>
<Layout title="About">
	<section class="grid">
		<div class="outdent">
			<h1>Grand Rapids Web Development Group</h1>
		</div>
	</section>
	<BlackRedSection> <MissionStatement /> </BlackRedSection>
	<section class="grid">
		<div class="inner-wrapper outdent">
			<div class="address">
				<h2>Mailing Address</h2>
				<p>
					Grand Rapids Web Development Group
					<br>℅ Start Garden
					<br>2 Fulton Street W<br>
					Grand Rapids, MI 49503
				</p>
			</div>
			<div class="map">
				<iframe
					title="Mailing address map"
					src="https://www.openstreetmap.org/export/embed.html?bbox=-85.6709334254265%2C42.961714623713625%2C-85.66567629575731%2C42.964185821592366&amp;layer=mapnik&amp;marker=42.96295023506081%2C-85.66830486059189"
					style="border: 1px solid black"
				></iframe>
				<p>
					<a
						href="https://www.openstreetmap.org/?mlat=42.962950&amp;mlon=-85.668305#map=19/42.962950/-85.668305"
						>View Larger Map</a
					>
				</p>
			</div>
		</div>
	</section>
	<section class="grid">
		<div class="outdent">
			<hr>
		</div>
	</section>
	<section class="grid">
		<div class="inner-wrapper outdent">
			<div class="address">
				<h2>Presentation Location</h2>
				<h3>@ Start Garden</h3>
				<p>
					2 Fulton Street W<br>
					Grand Rapids, MI 49503
				</p>
				<p>
					Most presentations are held at this location, but check each
					presentation's Meetup page for up-to-date information.
				</p>
			</div>
			<div class="map">
				<iframe
					title="Presentation location map"
					src="https://www.openstreetmap.org/export/embed.html?bbox=-85.6709334254265%2C42.961714623713625%2C-85.66567629575731%2C42.964185821592366&amp;layer=mapnik&amp;marker=42.96295023506081%2C-85.66830486059189"
					style="border: 1px solid black"
				></iframe>
				<p>
					<a
						href="https://www.openstreetmap.org/?mlat=42.962950&amp;mlon=-85.668305#map=19/42.962950/-85.668305"
						>View Larger Map</a
					>
				</p>
			</div>
		</div>
	</section>
	<section class="grid">
		<div class="outdent">
			<hr>
		</div>
	</section>
	<section class="grid">
		<div class="inner-wrapper outdent">
			<div class="address">
				<h2>Coffee with Creators</h2>
				<h3>@ The Factory</h3>
				<p>
					77 Monroe Center St NW
					<br>
					Suite 600
					<br>
					Grand Rapids, MI 49503
				</p>
				<p>
					Coffee with Creators is held at this location regularly, but check
					each event's Meetup page for the most current information.
				</p>
			</div>
			<div class="map">
				<iframe
					title="Coffee with Creators map"
					src="https://www.openstreetmap.org/export/embed.html?bbox=-85.67226916551591%2C42.96326526782019%2C-85.66701203584674%2C42.96573640341337&amp;layer=mapnik&amp;marker=42.964500848024635%2C-85.6696406006813"
					style="border: 1px solid black"
				></iframe>
				<p>
					<a
						href="https://www.openstreetmap.org/?mlat=42.964501&amp;mlon=-85.669641#map=19/42.964501/-85.669641"
						>View Larger Map</a
					>
				</p>
			</div>
		</div>
	</section>
</Layout>
