---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { withBase } from "../../utils/utils.ts";

const { slug } = Astro.params;
const member = await getEntry("board", slug);
if (!member) {
	return Astro.redirect("/404", 404);
}
const { Content } = await render(member);
export async function getStaticPaths() {
	const board = await getCollection("board");
	return board.map((member) => ({ params: { slug: member.data.slug } }));
}
---

<style>
	:root {
		--direction: 1;
		@view-transition {
			navigation: auto;
			types: slider;
		}
	}
</style>
<Layout
	title={`${member?.data?.title ? member?.data?.title + ': ' : ''}${member?.data?.name ?? 'Board Member Bio'}`}
>
	<section class="grid">
		<div class="image-text">
			<img
				src={member?.data?.image?.src === '' ? "https://placehold.co/300x375" : withBase(member.data.image.src)}
				alt={member?.data?.image.alt}
				width="300"
				height="375"
				class="cover"
				style={{ viewTransitionName: `${member?.data?.slug}-image` }}
			>
			<div>
				<h1 style={{ viewTransitionName: `${member?.data?.slug}-title` }}>
					{member?.data?.title ? member?.data?.title + ': ' : ''}
					{member?.data?.name ?? 'Member is not loaded'}
				</h1>
				<Content />
			</div>
		</div>
	</section>
</Layout>
