:root {
	--gray-adjustment: 0.0833;
	--gray-base: oklch(0.1034 0 0);
	--gray-050: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 0) c h
	);
	--gray-100: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 1) c h
	);
	--gray-200: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 2) c h
	);
	--gray-300: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 3) c h
	);
	--gray-400: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 4) c h
	);
	--gray-500: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 5) c h
	);
	--gray-600: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 6) c h
	);
	--gray-700: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 7) c h
	);
	--gray-800: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 8) c h
	);
	--gray-900: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 9) c h
	);
	--gray-950: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 10) c h
	);
	--gray-1000: oklch(
		from var(--gray-base) calc(l + var(--gray-adjustment) * 11) c h
	);

	--red-adjustment: 0.0833;
	--red-base: oklch(0.067 0.1984 29.23);
	--red-050: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 0) c h
	);
	--red-100: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 1) c h
	);
	--red-200: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 2) c h
	);
	--red-300: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 3) c h
	);
	--red-400: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 4) c h
	);
	--red-500: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 5) c h
	);
	--red-600: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 6) c h
	);
	--red-700: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 7) c h
	);
	--red-800: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 8) c h
	);
	--red-900: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 9) c h
	);
	--red-950: oklch(
		from var(--red-base) calc(l + var(--gray-adjustment) * 10) c h
	);

	--primary-clr: var(--gray-100);
	--secondary-clr: var(--red-500);
	--tertiary-clr: var(--gray-1000);
}
