:root {
	--main-max-width: 400px;

	@media screen and (width > 480px) {
		--main-max-width: 600px;
	}

	@media screen and (width > 768px) {
		--main-max-width: 1000px;
	}

	@media screen and (width > 1152px) {
		--main-max-width: 1500px;
	}

	@media screen and (width > 1600px) {
		--main-max-width: 1800px;
	}
}

body {
	container: body / inline-size;
}

.container {
	container: container / inline-size;
}

nav.grid,
section.grid {
	display: grid;
	grid-template-columns: [full-start] minmax(0.5rem, auto) [outdent-start] min(
			10cqi,
			calc(var(--main-max-width) / 10)
		) [main-start] min(10cqi, calc(var(--main-max-width) / 10)) [indent-start] min(
			40cqi,
			var(--main-max-width)
		) [indent-end] min(10cqi, calc(var(--main-max-width) / 10)) [main-end] min(
			10cqi,
			calc(var(--main-max-width) / 10)
		) [outdent-end] minmax(0.5rem, auto) [full-end];

	> * {
		grid-area: outdent;

		&.full {
			grid-area: full;
		}

		&.outdent {
			@container (width > 480px) {
				grid-area: outdent;
			}
		}

		&.main {
			@container (width > 480px) {
				grid-area: main;
			}
		}

		&.outdent-main-indent {
			@container (width > 960px) {
				grid-area: main;
			}
			@container (width > 1600px) {
				grid-area: indent;
			}
		}

		&.indent {
			grid-area: main;
			@container (width > 480px) {
				grid-area: indent;
			}
		}

		&.center {
			place-items: center;
		}
	}

	hr {
		margin-inline: -1ch;
	}
}

.image-text {
	--_gap: 2ch;

	margin-block-start: 1em;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--_gap);

	@container (width > 620px) {
		grid-template-columns: auto 1fr;
	}

	&.board {
		@container (width > 540px) {
			grid-template-columns: min((100cqi - var(--_gap)) / 2.25, 400px) 1fr;
		}

		img {
			width: 100%;
			height: revert;
			aspect-ratio: 4 / 5;
		}
	}

	h1,
	a h2 {
		margin: 0;
		padding-block-start: 0.175em;
		line-height: 1.25cap;
	}
}
