header {
	border-block-end: 1px solid var(--gray-900);
	box-shadow: 0 -0.5em 0.5em 0.5em var(--gray-700);
	padding-block: 1em 0.5em;
	background-color: var(--gray-1000);
	position: sticky;
	top: 0;
	z-index: 2;

	nav {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2ch;
			list-style: none;
			padding: 0;
			overflow: hidden;
			transition: height 300ms ease-in-out 100ms;

			@media (prefers-reduced-motion: no-preference) {
				height: 60px;
			}

			@container (width > 500px) {
				flex-direction: row;
			}

			li + li {
				position: relative;

				&::before {
					font-size: 0.9em;
					position: absolute;
					top: 0;
					left: -1.25ch;

					@container (width > 500px) {
						content: "|";
					}
				}
			}

			&:has(:not(input:checked)) {
				li + li:not(.expanded) {
					display: none;
				}
			}

			&:has(input:checked) {
				height: revert;

				li + li:not(.expanded) {
					display: list-item;
				}
			}

			.collapsed {
				@container (width > 500px) {
					display: none;
				}

				&:has(#show-menu) {
					padding: 4px;
				}

				&:has(#show-menu):focus-within {
					outline: 2px solid var(--gray-900);
					outline-offset: -2px;
				}

				#show-menu {
					position: absolute;
					inline-size: 1px;
					block-size: 1px;
					margin: -1px;
					padding: 0;
					border: 0;
					overflow: hidden;
					clip: rect(0 0 0 0);
					clip-path: inset(50%);
					white-space: nowrap;
				}
			}

			.expanded {
				display: none;
				@container (width > 500px) {
					display: list-item;
				}
			}

			svg {
				width: 6em;
				max-width: revert;
			}
		}
	}
}

footer {
	background-color: var(--gray-1000);
	width: 100cqi;
	z-index: 1;

	@container (width > 1180px) {
		@media (prefers-reduced-motion: no-preference) and (hover: hover) {
			bottom: 0;
			position: fixed;
			translate: 0 calc(100% - 2em);
			transition: all 300ms linear 100ms;
			&:hover {
				translate: 0 0;
			}
		}
	}

	section {
		background-color: oklch(from var(--red-950) l c h / 0.075);
		padding-block: 1em 3em;
	}

	.grid div {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"social seal"
			"header seal"
			"address seal"
			"ein  ein"
			"copy copy";

		h3 {
			font-size: 0.925em;
		}

		p:has(small) {
			margin-block-start: 0;

			small {
				display: block;
				font-size: 0.875em;
			}
		}

		.social {
			grid-area: social;
		}

		.address--header {
			grid-area: header;
		}

		.address {
			grid-area: address;
		}

		.ein {
			grid-area: ein;

			small {
				margin-block-start: 1.125cap;
			}
		}

		.copy {
			grid-area: copy;
		}

		.seal {
			grid-area: seal;
		}
	}

	.social-media {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, 50px);
		list-style: none;
		gap: 2ch;
	}
}
