:root {
	view-transition-name: none;
}

:active-view-transition-type(slider) {
	&::view-transition-old(*) {
		animation: slide-out 750ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
	}

	&::view-transition-new(*) {
		animation: slide-in 750ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0%);
	}

	100% {
		opacity: 0;
		transform: translateX(calc(50% * var(--direction, 1)));
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(calc(-50% * var(--direction, 1)));
	}

	100% {
		transform: translateX(0%);
	}
}
