---
import EventGrid from "../components/EventGrid.astro";
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
	@view-transition {
		navigation: auto;
	}
	.mobile-show {
		display: block;
		@container (width > 1180px) {
			display: none;
		}
	}

	.desktop-show {
		display: none;
		@container (width > 1180px) {
			display: block;
		}
	}
</style>
<Layout title="Home">
	<Home />
	<div class="mobile-show">
		<EventGrid gridSize={3} />
	</div>
	<div class="desktop-show">
		<EventGrid gridSize={6} old={1} />
	</div>
</Layout>
