---
import { getCollection } from "astro:content";
import { withBase } from "../utils/utils";

interface Props {
	gridSize?: number;
	old?: number;
}

const { gridSize = 3, old = 0 } = Astro.props;

const events = await getCollection("events");
const eventsToUse: typeof events = [];
const eventsSorted = events.toSorted((a, b) => {
	const aDate = a.data.date;
	const bDate = b.data.date;
	return bDate.valueOf() - aDate.valueOf();
});
const d = new Date();
const [eventsAfter, eventsBefore] = eventsSorted.reduce(
	(a, c) => {
		if (c.data.date.valueOf() > d.valueOf()) {
			a[0].push(c);
		} else {
			a[1].push(c);
		}
		return a;
	},
	[[], []] as Array<typeof events>,
);
const numberToGrabFromAfter = gridSize - old;
eventsAfter
	.slice(
		eventsAfter.length >= numberToGrabFromAfter
			? numberToGrabFromAfter * -1
			: 0,
	)
	.forEach((event) => {
		eventsToUse.unshift(event);
	});
while (
	eventsToUse.length < gridSize &&
	eventsBefore &&
	eventsBefore.length > 0
) {
	const shift = eventsBefore.shift();
	if (shift) {
		eventsToUse.unshift(shift);
	}
}
---

<style>
	div:has(> .event-grid) {
		container: section / inline-size;
	}

	.event-grid {
		margin-block-start: 1em;
		display: grid;
		gap: 2ch;
		grid-template-columns: 1fr;
		@container (width > 940px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
<section class="grid">
	<div class="outdent">
		<div class="event-grid">
			{eventsToUse.map(event => (
        <a href={event.data.url} target="_blank">
				<img src={withBase(event.data.image.src)} alt={event.data.image.src} />
        </a>
      ))}
		</div>
	</div>
</section>
