---
import Facebook from "../assets/social/facebook-logo.svg";
import Instagram from "../assets/social/instagram-logo.svg";
import LinkedIn from "../assets/social/linkedin-logo.svg";
import Meetup from "../assets/social/meetup.svg";
import X from "../assets/social/x-logo.svg";
---

<footer>
	<section class="grid">
		<div class="outdent">
			<ul class="social-media">
				<li>
					<a
						href="https://www.meetup.com/grwebdev/"
						title="GrWebDev on Meetup"
						target="_blank"
						rel="noopener noreferrer"
						aria-label="GrWebDev on Meetup"
					>
						<Meetup />
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/company/grwebdev/"
						title="GrWebDev on LinkedIn"
						target="_blank"
						rel="noopener noreferrer"
						aria-label="GrWebDev on LinkedIn"
					>
						<LinkedIn />
					</a>
				</li>
				<li>
					<a
						href="https://www.facebook.com/GRWebDev"
						title="GrWebDev on Facebook"
						target="_blank"
						rel="noopener noreferrer"
						aria-label="GrWebDev on Facebook"
					>
						<Facebook />
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/grwebdevorg/"
						title="GrWebDev on Instagram"
						target="_blank"
						rel="noopener noreferrer"
						aria-label="GrWebDev on Instagram"
					>
						<Instagram />
					</a>
				</li>
				<li>
					<a
						href="https://x.com/grwebdev"
						title="GrWebDev on X"
						target="_blank"
						rel="noopener noreferrer"
						aria-label="GrWebDev on X"
					>
						<X />
					</a>
				</li>
			</ul>
			<p class="copy">&copy; GRWebDev</p>
			<a
				href="https://app.candid.org/profile/14664734/grand-rapids-web-development-group-92-0733019"
				target="_blank"
				rel="noopener noreferrer"
				class="seal"
			>
				<img
					src="https://widgets.guidestar.org/prod/v1/pdp/transparency-seal/14664734/svg"
					alt="Bronze Transparency Seal - Candid"
				>
			</a>
		</div>
	</section>
</footer>
