---
import GitHubOcto from "../assets/git-hub-octo.svg";
---

<style>
	.github-corner {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: clamp(80px, 4.898cqi + 62px, 140px);
		aspect-ratio: 1;
	}
</style>
<a
	href="https://github.com/GRWebDev/grwebdev-website"
	class="github-corner"
	aria-label="View source on GitHub"
>
	<GitHubOcto />
</a>
