---
import Logo from "../assets/grwebdev.svg";
import { withBase } from "../utils/utils.ts";
import ForkMeGitHub from "./ForkMeGitHub.astro";
---

<header>
	<nav class="grid">
		<ul id="site-menu">
			<li class="collapsed">
				<label
					for="show-menu"
					aria-label="Expand / Collapse Navigation"
					aria-controls="site-menu"
					><Logo /> <input type="checkbox" id="show-menu" name="show-menu">
				</label>
			</li>
			<li class="expanded">
				<a href={withBase(`/`)} aria-label="Home"> <Logo /> </a>
			</li>
			<!-- TODO: Add What we do and get involved links/pages -->
			<li class="collapsed"><a href={withBase(`/`)}>Home</a></li>
			<li><a href={withBase(`/board`)}>Board</a></li>
			<li><a href={withBase(`/sponsors`)}>Sponsors</a></li>
			<li><a href={withBase(`/about`)}>About</a></li>
		</ul>
	</nav>
	<!-- End -->
	<ForkMeGitHub />
</header>
