---
import Logo from "../assets/grwebdev.svg";
import ForkMeGitHub from "./ForkMeGitHub.astro";
---

<header>
	<nav class="grid">
		<ul class="outdent">
			<li><a href="/" aria-label="Home">
				<Logo />
			</a></li>
			<!-- TODO: Add What we do and get involved links/pages -->
			<li><a href="/board">Board</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
		</ul>
	</nav>
	<!-- End -->
	<ForkMeGitHub />
</header>
