---
import BlackRedSection from "./BlackRedSection.astro";
---

<script
	is:inline
	async
	src="https://widgets.givebutter.com/latest.umd.cjs?acct=YGjlKv1rH53EHVNY&p=other"
></script>
<section class="grid">
	<div class="outdent">
		<h1>Grand Rapids Web Development Group</h1>
	</div>
</section>
<BlackRedSection></BlackRedSection>
<section class="grid">
	<div class="center">
		<p><givebutter-widget id="gRBJRg"></givebutter-widget></p>
	</div>
</section>
