<section class="grid">
	<div class="outdent on-top">
		<p class="condensed-light">
			At GRWebDev, we’re developing a different kind of tech community, where
			everyone belongs. Whether you’re an industry professional, tech
			enthusiast, student, or creative, our events offer a welcoming environment
			to learn something new, share your experiences, and connect with cool
			people.
		</p>
	</div>
</section>
